<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myblog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF49A5AD1DB613300023A2FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF49A5C11DB613330023A2FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF49A5CC1DB613330023A2FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
